# Surface Laptop 7 (Snapdragon X Elite) GRUB settings
GRUB_TERMINAL_OUTPUT="gfxterm"
GRUB_CMDLINE_LINUX="${GRUB_CMDLINE_LINUX:-} clk_ignore_unused pd_ignore_unused cma=128M"
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash mem_sleep_default=s2idle"
